.middleArea {
  max-width: 100%;
  height: 50px;
  background: #dacc6d;
  border-radius: 20px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  width: 80px;
  height: 30px;
  margin: 0 10px;
  background: #db9c71;
  border-radius: 10px;
  cursor: pointer;
  &:hover{
    background: #c95000;
  }
}
